ul {
	list-style-type: none;
	padding: 0;
}

a {
	padding: 8px 16px;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 8px;
	color: black;
	border-radius: 32px;
}

.active {
	background-color: #ccc;
}

button {
	justify-content: center;
	margin-left: 25px;
	margin-top: 50px;
}