<mat-drawer-container class="main-layout">
	<mat-drawer mode="over" position="end" #drawer>
		<button mat-icon-button (click)="drawer.close()">
			<mat-icon>close</mat-icon>
		</button>

		<app-sidenav></app-sidenav>
	</mat-drawer>

	<mat-drawer-content class="drawer-content">

		<header>
			<app-logo></app-logo>
			<!-- logo.svg ne radi -->
			<button mat-icon-button (click)="drawer.open()">
				<mat-icon>menu</mat-icon>
			</button>
		</header>

		<router-outlet></router-outlet>

	</mat-drawer-content>
</mat-drawer-container>