<mat-drawer-container class="main-layout">
	<mat-drawer class="side-drawer" [mode]="isMobile ? 'over' : 'side'" [position]="isMobile ? 'end': 'start'"
		[opened]="isMobile ? 'false' : 'true'" #drawer>
		<div class="drawer-button-layout">
			<app-logo *ngIf="!isMobile" class="logo"></app-logo>


			<button *ngIf="isMobile" (click)="drawer.close()">
				<mat-icon class="logo">close</mat-icon>
			</button>

			<app-sidenav class="sidenav"></app-sidenav>

			<button mat-raised-button color="primary" (click)="logOut()">Log out</button>
		</div>

	</mat-drawer>

	<mat-drawer-content class="drawer-content">

		<header *ngIf="isMobile">
			<app-logo></app-logo>

			<button mat-icon-button (click)="drawer.open()">
				<mat-icon>menu</mat-icon>
			</button>
		</header>

		<router-outlet></router-outlet>

	</mat-drawer-content>
</mat-drawer-container>