* {
	box-sizing: border-box;
}

body {
	background-color: #505053;
	font-family: 'Poppins', sans-serif;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 6rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#main-pic {
	max-width: 30%;
	height: auto;
	border-radius: 5px;
}

.main-pic {
	text-align: center;
}

.review-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

.review-text {
	width: 100%;
	margin-top: 3rem;
}

.review-number {
	margin-top: 3rem;
}

.review-submit {
	margin-top: 3rem;
}

.reviews {
	margin-top: 4rem;
}

input[type='text'] {
	padding: 1.5rem;
	border: 2px solid #eee;
	border-radius: 5px;
	width: 100%;
	resize: vertical;
	margin-top: 0.5rem;
}

button {
	padding: 10px;
	border: none;
	background-color: #14a3bd;
	color: #fff;
	font-weight: 600;
	border-radius: 5px;
	width: 100%;
}

input[type='number'] {
	margin-left: 1rem;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 1.5rem;
	border: 1px solid #14a3bd;
	padding: 5px;
	border-radius: 5px;
	background-color: #14a3bd;
	color: #eee;
	font-weight: 400;
}
