@use 'utils/colors';

img {
	height: 356px;
	width: 100%;
	overflow: visible;
	margin: 0;
	object-fit: cover;
}
* {
	background-color: colors.$white;
	color: colors.$purple2
}
.title-rating {
	background-color: colors.$white;
	color: colors.$purple2
}
.show-description {
	background-color: colors.$white;
	color: colors.$purple2;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
}

.mat-card {
	padding: 0;
	
}

.show-detail {
	border-radius: 24px;

}
