<mat-card>
	<form [formGroup]="loginFormGroup">
		<mat-form-field appearance="outline">
			<mat-label>Email</mat-label>
			<input matInput placeholder="Placeholder" formControlName="email" />
			<mat-icon matSuffix>person</mat-icon>
			<mat-error>Enter valid email adress</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput placeholder="Placeholder" formControlName="password" />
			<mat-icon matSuffix>lock</mat-icon>
		</mat-form-field>

		<button mat-raised-button color="primary" (click)="onLogin()" [disabled]="loginFormGroup.invalid">Login</button>

	</form>
</mat-card>